Options -Indexes

<IfModule mod_rewrite.c>

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteRule ^directory/ - [L,R=404]

# anggota
RewriteRule ^anggota$ media.php?module=anggota
RewriteRule ^tambah-anggota$ media.php?module=anggota&act=tambah
RewriteRule ^simpan-anggota$ content/anggota/aksi.php?act=simpan

RewriteRule ^edit-anggota$ media.php?module=anggota&edt=edit [QSA]
RewriteRule ^edit-anggota$ content/anggota/edit.php?id [QSA]
RewriteRule ^simpan-edit-anggota$ content/anggota/aksi_edit.php?act_edt_mhs=simpanedt

RewriteRule ^hapus-anggota$ media.php?module=anggota&del=hapus&id [QSA]
RewriteRule ^hapus-anggota$ content/anggota/hapus.php?id [QSA]
RewriteRule ^simpan-hapus-anggota$ content/anggota/aksi_hapus.php?act_del_mhs=simpandel

# petugas
RewriteRule ^petugas$ media.php?module=petugas
RewriteRule ^tambah-petugas$ media.php?module=petugas&actds=tambah
RewriteRule ^simpan-petugas$ content/petugas/aksi.php?actds=simpan

RewriteRule ^edit-petugas$ media.php?module=petugas&edtds=edit [QSA]
RewriteRule ^edit-petugas$ content/petugas/edit.php?id [QSA]
RewriteRule ^simpan-edit-petugas$ content/petugas/aksi_edit.php?act_edt_ds=simpanedt
RewriteRule ^hapus-petugas$ media.php?module=petugas&delds=hapus [QSA]
RewriteRule ^hapus-petugas$ content/petugas/hapus.php?id [QSA]
RewriteRule ^simpan-hapus-petugas$ content/petugas/aksi_hapus.php?act_del_ds=simpandel

# buku
RewriteRule ^buku$ media.php?module=buku
RewriteRule ^tambah-buku$ media.php?module=buku&actmk=tambah
RewriteRule ^simpan-buku$ content/buku/aksi.php?actmk=simpan

RewriteRule ^edit-buku$ media.php?module=buku&edtmk=edit [QSA]
RewriteRule ^edit-buku$ content/buku/edit.php?id [QSA]
RewriteRule ^simpan-edit-buku$ content/buku/aksi_edit.php?act_edt_mk=simpanedt

RewriteRule ^hapus-buku$ media.php?module=buku&delmk=hapus [QSA]
RewriteRule ^hapus-buku$ content/buku/hapus.php?id [QSA]
RewriteRule ^simpan-hapus-buku$ content/buku/aksi_hapus.php?act_del_mk=simpandel

# peminjaman
RewriteRule ^peminjaman$ media.php?module=peminjaman
RewriteRule ^tambah-peminjaman$ media.php?module=peminjaman&actjw=tambah
RewriteRule ^simpan-peminjaman$ content/peminjaman/aksi.php?actjw=simpan

RewriteRule ^edit-peminjaman$ media.php?module=peminjaman&edtjw=edit [QSA]
RewriteRule ^edit-peminjaman$ content/peminjaman/edit.php?id [QSA]
RewriteRule ^simpan-edit-peminjaman$ content/peminjaman/aksi_edit.php?act_edt_jw=simpanedt

RewriteRule ^hapus-peminjaman$ media.php?module=peminjaman&deljw=hapus [QSA]
RewriteRule ^hapus-peminjaman$ content/peminjaman/hapus.php?id [QSA]
RewriteRule ^simpan-hapus-peminjaman$ content/peminjaman/aksi_hapus.php?act_del_jw=simpandel

# pengembalian
RewriteRule ^pengembalian$ media.php?module=pengembalian
RewriteRule ^tambah-pengembalian$ media.php?module=pengembalian&actabs=tambah
RewriteRule ^simpan-pengembalian$ content/pengembalian/aksi.php?actabs=simpan

RewriteRule ^edit-pengembalian$ media.php?module=pengembalian&edtabs=edit [QSA]
RewriteRule ^edit-pengembalian$ content/pengembalian/edit.php?id [QSA]
RewriteRule ^simpan-edit-pengembalian$ content/pengembalian/aksi_edit.php?act_edt_abs=simpanedt

RewriteRule ^hapus-pengembalian$ media.php?module=pengembalian&delabs=hapus [QSA]
RewriteRule ^hapus-pengembalian$ content/pengembalian/hapus.php?id [QSA]
RewriteRule ^simpan-hapus-pengembalian$ content/pengembalian/aksi_hapus.php?act_del_abs=simpandel


RewriteRule ^keluar$ logout.php

</IfModule>